<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianft.m.qian"
    android:versionCode="20160800"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
   <!--  <uses-sdk android:minSdkVersion="3" /> -->
    <uses-permission android:name="android.permission.INTERNET"/> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> 
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> 
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application
        android:name="com.qianft.m.qian.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" 
            	  android:screenOrientation="portrait" >
        </activity>
    	<activity android:name="com.qianft.m.qian.wxapi.WXEntryActivity"
    	    	  android:exported="true"
    	    	  android:screenOrientation="portrait">
    	</activity>
    	<activity android:name=".activity.NavigationActivity"
    	    	  android:screenOrientation="portrait" >
    	</activity>
    	<service android:name=".service.AppUpgradeService"></service>
    </application>

</manifest>
